@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Noto+Sans+Khmer:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box !important;
    border: none;
}

.body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15px;
    color: #38343D;
    background-color: #fff;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cardo', serif;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none !important;
}
.container{
    // max-width: 1140px !important;
}
.head_body{
    background-color: #F6F6F6;
    padding: 70px 0;
    .titlehead{
        font-size: 48px;
        line-height: 54px;
        margin-bottom: 25px;
    }
    .linkhome{
        color: #818181;
        font-size: 16px;
        font-weight: 600;
        line-height: 20.16px;
        span{
            color: #38343D;
        }
    }
}