@use "../../styles/scss/partials/mixin" as mixin;
@use "../../styles/scss/partials/varaible" as var;
@import "../../styles/scss/partials/extend";

.contact{ 
    padding: 50px 0;
    .container{
        max-width: 960px;
        margin: auto;
        .cards{
            text-align: center;
            .img{
                margin: auto;
                @include mixin.Text($radius:50%,$ground:var.$bg-email);
                @include mixin.Img($wid:100px,$heit:100px);
                @include mixin.Flex($j_content:center,$a_items:center);
                svg{
                    @include mixin.Text($f_size:var.$size48,$colrs:var.$logoorange);
                }
            }
            .title{
                margin-top: 20px;
                h4{ @include mixin.Text($f_size:var.$size24,$f_weight:var.$weight_4); }
                p{ @include mixin.Text($f_size:var.$size14,$f_weight:var.$weight_4,$colrs:var.$paragraph); }
            }
        }
        .send{
            border: 1px solid #00000021;
            padding: 30px;
            h4{
                @include mixin.Text($f_size:var.$size24,$f_weight:var.$weight_4,$l_heit:var.$line33);
            }
            form{
                margin-top: 25px;
                .inputs{
                    display: flex;
                    @media (max-width:768px) {
                        display: flex;
                        flex-direction: column;
                        .inputtype{
                            width: 100% !important;
                        }
                    }
                    .inputtype{
                        margin: 10px;
                        border: 1px solid #00000021;
                        width: 50%;
                        padding: 13px 20px;
                        @include mixin.Text($f_size:var.$size14,$l_heit:var.$line24,$f_weight:var.$weight_4,$radius:4px);
                        &::placeholder{
                            color: var.$paragraph;
                        }
                    }
                    textarea{
                        width: 100% !important;
                        resize: none;
                        height: 149px;
                    }
                }
                .btninit{
                    text-align: center;
                    padding-top: 30px;
                    button{
                        @extend %_register;
                        width: 282px;
                    }
                }
            }
        }
    }
}