@use "../../styles/scss/partials/mixin" as mixin;
@use "../../styles/scss/partials/varaible" as var;
@import "../../styles/scss/partials/extend";

.explore {
    padding: 70px 0;
    .ground {
        @include mixin.Text($ground: var.$bodyclr);
        padding: 64px 0px;
        color: var.$whiteclr;
        @include mixin.breakpoint('medium'){ text-align: center; }
        .title{
            position: relative;
            .h3title{ 
                @include mixin.Text($f_weight:var.$weight_4,$f_size:var.$size38,$l_heit:var.$line52);
             }
             svg{ @include mixin.Img($pos:absolute,$right:110px); }
            .ptitle{
                margin-top: 25px;
                @include mixin.Text($f_weight:var.$weight_5,$f_size:var.$size14,$l_heit:var.$line24);
            }
        }
        .explorelink{
            @extend %_backhome;
            @include mixin.Text($ground:var.$logoorange,);
            &:hover{ box-shadow: none; }
        }
    }
}