$blackclr:#151723;
$size404:65px;
$weight_7:700;
$before404clr:#f2f5f8;
$radius_50:50%;
$weight_4:400;
$size21:21px;
$phclr:#999fa5;
$size16:16px;
$bodyclr:#123E56;
$whiteclr:#fff;
$radius_6:6px;
$size15:15px;
$shadowclr:#0505190A;
$colorlink:#38343D;
$logoorange:#DE8556;
$size24:24px;
$line33:32.5px;
$line44:43.51px;
$line18:17.64px;
$size14:14px;
$size18:18px;
$line36:36.5px;
$size12:12px;
$weight_6:600;
$size38:38px;
$line52:51.45px;
$weight_5:500;
$line24:24px;
$paragraph:#818181;
$size20:20px;
$line16:15.12px;
$size19:19px;
$size48:48px;
$line54:54px;
$whitetranspar:#FFFFFFA8;
$bg-email:#FCF6F3;
