@use "../../styles/scss/partials/varaible" as var;
@use "../../styles/scss/partials/mixin" as mixin;
@import "../../styles/scss/partials/extend";

.sign {
    .title {
        text-align: center;
        padding: 30px 0;
        h2 { @include mixin.Text($l_heit: var.$line54, $f_size: var.$size48); }
        p {
            width: 320px;
            margin: auto;
            padding-top: 16px;
            @include mixin.Text($f_size: var.$size14, $f_weight: var.$weight_4, $l_heit: var.$line24, $colrs: var.$paragraph);
        }
    }
    .form{
        .inputdiv{
            @include mixin.Flex($f_direction:column,$a_items:center);
            input{
                @include mixin.Img($wid:396px,$heit:50px);
                @include mixin.Text($f_size:var.$size14,$f_weight:var.$weight_4,$l_heit:var.$line18,$border:1px solid #00000014,$radius:4px);
                padding: 0 10px;
                margin-top: 25px;
                &::placeholder{ color: #818181; }
                @include mixin.breakpoint('small') { width: 330px; }
            }
            span{
                @include mixin.breakpoint('small') { width: 330px; }
                width: 396px;
                margin-top: 15px;
                @include mixin.Text($t_align:end,$f_size:var.$size14,$f_weight:var.$weight_4,$l_heit:var.$line18);
            }
            .checkbox{
                width: 396px;
                margin-top: 20px;
                @include mixin.breakpoint('small') { width: 330px; }
                .checkinput{
                    margin-top: 0;
                    width: 20px;
                    height: 20px;
                }
                .checkspan{ @include mixin.Text($f_weight:var.$weight_4,$f_size:var.$size12,$colrs:var.$paragraph,$l_heit:var.$line24); }
            }
            button{
                @extend %_register;
                @include mixin.breakpoint("small") { width: 330px; }
            }
            .create{
                margin-top: 20px;
                @include mixin.Text($f_size:var.$size14,$f_weight:var.$weight_4,$l_heit:var.$line18);
                span{ color: var.$paragraph; }
                a{color: var.$bodyclr; }
            }
        }
    }
}